---
---
<script type="text/javascript">
    function hide_show_bibtex(data_type, data_key) {
        if(data_type.localeCompare("bibtex")){
            var x = document.getElementById(data_type + data_key);
            if (x.style.display === "none") {
                document.getElementById("bibtex" + data_key).style.display = "none";
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
        else if(data_type.localeCompare("abstract")){
            var x = document.getElementById(data_type + data_key);
            if (x.style.display === "none") {
                document.getElementById("abstract" + data_key).style.display = "none";
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }   
    }
</script>

<section class="paper_entry">
    <div class="text-justify">
        {% if entry.url %}
        <a href="{{entry.url}}" target="_blank">{{entry.title}}</a>
        {% else %}
        {{entry.title}}
        {% endif %}
    </div>

    {% if entry.authorlist %}
    <div class="author_list"> {{entry.authorlist}} </div>
    {% endif %}

    <section class="paper_detail">
        <div class="venue">
            {% if entry.venue %}
            <img src="../assets/images/icon_paper.png" width="20vw"  />{{entry.venue}} 
            {% endif %}
        </div>

        <div class="links">
            <!--            <div class="text-justify"> -->

            {% if entry.note %}
                <img src="../assets/images/icon_extlink.png" width="15vw"  /> {{entry.note}}
            {% endif %}
            
            {% if entry.abstract %}
            <button class="button0"  onclick="hide_show_bibtex('abstract', 
                                              '{{entry.key}}')">[Abstract]</button>
            {% endif %}

            {% if entry.bib %}
            <button class="button0"  onclick="hide_show_bibtex('bibtex','{{entry.key}}')">[Bibtex]</button>
            {% endif %}

            
            {% if entry.code %}
                <a href="{{ entry.code }}"><input class="button3" type="button" value="code" /></a>
            {% endif %}
        </div>
        <div class="links">
            {% if entry.bib %}
            <div class="bibtex" id="bibtex{{entry.key}}" style="display: none">
                <pre>{{entry.bib}}</pre>
            </div>
            <div class="bibtex" id="abstract{{entry.key}}" style="display: none">
                <pre>{{entry.abstract}}</pre>
            </div>
            {% endif %}
        </div>


    </section>

</section>